* {
    border: none;
    font-family: "MiSans", "FiraCode Nerd Font", Retina;
    font-size: 16px;
}

/* top-bar */
.top-bar {
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    background: #20242a;
    background: linear-gradient(
            270deg,
            rgb(0, 0, 0),
            rgb(10, 22, 24),
            rgb(2, 8, 12),
            rgb(12, 8, 23),
            rgb(11, 16, 11)
        )
        center / cover;
    background-size: 800% 800%;
    animation: AnimationName 30s ease infinite;
}
.top-bar * {
    border-radius: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.top-bar #tray,
#clock,
#backlight,
#pulseaudio,
#network,
#battery {
    margin-left: 8px;
    margin-right: 8px;
    background-color: #222e45;
    padding: 0 12px 0 12px;
}
.top-bar #tray {
    margin-left: 12px;
}

.top-bar #clock {
    background-color: transparent;
}
.top-bar #network {
    background: linear-gradient(270deg, #0e3d30, #547214, #1a648b, #4a1e34) center / cover;
    background-size: 800% 800%;
    animation: AnimationName 30s ease infinite;
}

.top-bar #battery {
    margin-right: 12px;
}
@keyframes AnimationName {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/* 左侧信息栏的统一样式 */
.cpu,
.disk,
.memory {
    background-color: transparent;
}
.cpu #cpu,
#custom-icon,
.disk #disk,
#custom-icon,
.memory #memory,
#custom-icon {
    color: rgb(198, 198, 198);
    background-color: rgb(15, 17, 18);
    border-color: rgb(47, 47, 47);
    border-style: solid;
}
/* 图标左半边 */
.cpu #custom-icon,
.disk #custom-icon,
.memory #custom-icon {
    border-radius: 20px 0 0 20px;
    border-width: 4px 0 4px 4px;
}

/* 右半边 */
.cpu #cpu,
.disk #disk,
.memory #memory {
    border-radius: 0 20px 20px 0;
    border-width: 4px 4px 4px 0;
}
/* cpu-bar */
.cpu #custom-icon {
    padding-right: 16px;
    padding-left: 12px;
    font-size: 40px;
}
.cpu #cpu {
    padding-right: 12px;
    font-weight: bold;
    font-size: 24px;
}

/* disk-bar */
.disk #custom-icon {
    padding-right: 16px;
    padding-left: 12px;
    font-size: 40px;
}
.disk #disk {
    padding-right: 12px;
    font-weight: bold;
    font-size: 24px;
}
/* memory-bar */
.memory #custom-icon {
    padding-right: 16px;
    padding-left: 12px;
    font-size: 40px;
}
.memory #memory {
    padding-right: 12px;
    font-weight: bold;
    font-size: 24px;
}

/* update-bar */
.updates {
    background-color: transparent;
}
.updates #custom-icon,
#custom-num {
    background-color: #52d546;
    border-color: aliceblue;
    color: aliceblue;
    border-style: solid;
}
.updates #custom-icon {
    border-radius: 20px 0 0 20px;
    padding-right: 16px;
    padding-left: 8px;
    font-size: 40px;
    border-width: 4px 0 4px 4px;
}
.updates #custom-num {
    border-radius: 0 20px 20px 0;
    padding-right: 12px;
    padding-left: 4px;
    font-weight: bold;
    font-size: 26px;
    border-width: 4px 4px 4px 0;
}
/* time */
.time {
    background-color: transparent;
}
.time #clock.h,
#clock.m {
    padding: 0 20px 0 20px;
    color: #ebebeb;
    text-shadow: black 5px 3px 12px;
    background-color: rgba(156, 26, 26, 0);
}
.time #clock.h {
    font-size: 120px;
}
.time #clock.m {
    font-size: 120px;
    margin-top: -30px;
}
/* mpd-bar */
.mpd-info,
.mpd-control {
    background: transparent;
}
.mpd-info #mpd,
.mpd-control #custom-prev,
#custom-status,
#custom-next {
    color: #dcdcdc;
    background-color: #272727;
}
.mpd-info #mpd {
    border-radius: 20px 20px 0 0;
    padding-top: 8px;
    font-size: 18px;
}
.mpd-control #custom-prev {
    font-size: 50px;
    padding: 0 14px 0 20px;
    border-radius: 0 0 0 20px;
}
.mpd-control #custom-next {
    font-size: 50px;
    padding: 0 34px 0 14px;
    border-radius: 0 0 20px 0;
}
.mpd-control #custom-status {
    font-size: 60px;
    padding: 0 18px 0 16px;
}

/* botom-bar */
.bottom-bar {
    background-color: transparent;
}

.bottom-bar #taskbar {
    padding: 6px 20px 6px 20px;
    background-color: #1a1a1a;
    border-radius: 20px;
}
.bottom-bar #taskbar button {
    border-radius: 10px;
    margin: 4px 2px 4px 2px;
}
.bottom-bar #taskbar button.active {
    background-color: #303030;
}
