* {
    border: none;
    border-radius: 10;
    font-family: "FiraCode Nerd Font";
    font-size: 15px;
    min-height: 10px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}
#workspaces button.active {
    color: #abe9b3;
    background-color: #44b083;
    border-radius: 50%;
    padding-right: 10px;
}
#workspaces button {
    color: #abe9b3;
    background-color: transparent;
    border-radius: 50%;
    padding-right: 10px;
}
#workspaces {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    color: #161320;
    background: #44b083;
}
#taskbar {
    font-size: 24px;
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    background: transparent;
}
#window {
    margin-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    color: transparent;
    background: transparent;
}

#network {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    color: #161320;
    background: #bd93f9;
}

#pulseaudio {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    color: #1a1826;
    background: #fae3b0;
}

#battery {
    margin-top: 6px;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    color: #161320;
    background: #b5e8e0;
}

#battery.charging,
#battery.plugged {
    color: #161320;
    background-color: #b5e8e0;
}

#battery.critical:not(.charging) {
    background-color: #b5e8e0;
    color: #161320;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #bf616a;
        color: #b5e8e0;
    }
}

#backlight {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    color: #161320;
    background: #f8bd96;
}
#clock {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    color: #161320;
    background: #abe9b3;
    /*background: #1A1826;*/
}

#memory {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    color: #161320;
    background: #ddb6f2;
}
#cpu {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    color: #161320;
    background: #96cdfb;
}

#tray {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    color: #b5e8e0;
    background: #3e455b;
}

#custom-launcher {
    font-size: 24px;
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 8px;
    padding-right: 12px;
    border-radius: 10px;
    transition: none;
    color: #89dceb;
    background: #161320;
}
#custom-power {
    font-size: 20px;
    margin-top: 6px;
    margin-left: 6px;
    margin-right: 12px;
    padding-left: 8px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    color: #161320;
    background: #f28fad;
}

#custom-updates {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    color: #161320;
    background: #e8a2af;
}
