* {
    border: none;
    font-family: "FiraCode Nerd Font";
    font-size: 15px;
    min-height: 30px;
}

window#waybar {
    background: #000000;
}

window#waybar.hidden {
    opacity: 0.9;
}
#workspaces {
    padding: 0px 10px 0px 10px;
}
#workspaces button.active {
}
#workspaces button {
    padding-left: 2px;
    padding-right: 4px;
}

#network {
    padding: 0px 10px 0px 10px;
    transition: none;
}

#pulseaudio {
    padding: 0px 10px 0px 10px;
    transition: none;
}

#battery {
    padding: 0px 10px 0px 10px;
    transition: none;
}

#battery.charging,
#battery.plugged {
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #bf616a;
        color: #b5e8e0;
    }
}

#backlight {
    padding: 0px 10px 0px 10px;
    transition: none;
}
#clock {
    padding: 0px 10px 0px 10px;
    transition: none;
}

#memory {
    padding: 0px 10px 0px 10px;
    transition: none;
}
#cpu {
    padding: 0px 10px 0px 10px;
    transition: none;
}

#tray {
    padding: 0px 10px 0px 10px;
    transition: none;
}

#custom-power {
    transition: none;
}

#custom-updates {
    transition: none;
}
